

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/


./src/client/mobile/*.iml
./src/client/mobile/.gradle
./src/client/mobile/local.properties
./src/client/mobile/.idea/caches
./src/client/mobile/.idea/libraries
./src/client/mobile/.idea/modules.xml
./src/client/mobile/.idea/workspace.xml
./src/client/mobile/.idea/navEditor.xml
./src/client/mobile/.idea/assetWizardSettings.xml
./src/client/mobile/.DS_Store
./src/client/mobile/build
./src/client/mobile/captures
./src/client/mobile/.externalNativeBuild
./src/client/mobile/.cxx

# ./src/client/mobile/local.properties
/.idea/

./tools
src/client/mobile/.idea/deploymentTargetSelector.xml
src/server/Notification/Notification.Api/wwwroot/android-5e2d0-firebase-adminsdk-p2ikp-adbe0b9280.json

/src/server/Management/MovieTicketManagement.Api/wwwroot/files/
src/server/Notification/Notification.Api/android-5e2d0-firebase-adminsdk-p2ikp-adbe0b9280.json
