

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/


./src/client/mobile/*.iml
./src/client/mobile/.gradle
./src/client/mobile/local.properties
./src/client/mobile/.idea/caches
./src/client/mobile/.idea/libraries
./src/client/mobile/.idea/modules.xml
./src/client/mobile/.idea/workspace.xml
./src/client/mobile/.idea/navEditor.xml
./src/client/mobile/.idea/assetWizardSettings.xml
./src/client/mobile/.DS_Store
./src/client/mobile/build
./src/client/mobile/captures
./src/client/mobile/.externalNativeBuild
./src/client/mobile/.cxx

#./src/client/mobile/local.properties
